In [40]:
import pandas as pd

df=pd.read_excel('C:/Users/varlo/Desktop/emdat_public_2023_05_02_query_uid-umjMCi.xlsx')

In [41]:
df

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900-9002-CPV,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.849084,NaN,NaN,NaN,NaN
1,1900-9001-IND,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.849084,NaN,NaN,NaN,NaN
2,1902-0012-GTM,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,25000.0,843726.0,2.963048,NaN,NaN,NaN,NaN
3,1902-0003-GTM,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,...,NaN,NaN,NaN,NaN,NaN,2.963048,NaN,NaN,NaN,NaN
4,1902-0010-GTM,1902,10,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,...,NaN,NaN,NaN,NaN,NaN,2.963048,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16626,2023-0110-ZMB,2023,110,NaN,Natural,Hydrological,Flood,Flash flood,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1;2,3430,65234;65235;65236,"Lusaka (Adm1). Mazabuka, Monze, Namwala (Adm2)."
16627,2023-0068-ZMB,2023,68,EP-2023-000013,Natural,Biological,Epidemic,Bacterial disease,NaN,Cholera,...,NaN,NaN,NaN,NaN,NaN,NaN,1,3428;3429;3430;3433,NaN,"Eastern, Luapula, Lusaka, Southern (Adm1)."
16628,2023-0095-ZWE,2023,95,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Tropical cyclone 'Freddy',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16629,2023-0022-SRB,2023,22,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16630,2023-0140-SSD,2023,140,EP-2023-000039,Natural,Biological,Epidemic,Bacterial disease,NaN,Cholera,...,NaN,NaN,NaN,NaN,NaN,NaN,1,37021,NaN,Upper Nile (Adm1).

In [42]:
unique_disasters=df['Disaster Type'].value_counts()

In [43]:
print(unique_disasters)

Flood                    5803
Storm                    4618
Earthquake               1597
Epidemic                 1518
Landslide                 804
Drought                   803
Extreme temperature       616
Wildfire                  456
Volcanic activity         270
Insect infestation         95
Mass movement (dry)        45
Glacial lake outburst       3
Fog                         1
Impact                      1
Animal accident             1
Name: Disaster Type, dtype: int64

In [44]:
flood_df = df[df['Disaster Type'] == 'Flood']

# Display flood dataframe
print(flood_df)

              Dis No  Year  Seq Glide Disaster Group Disaster Subgroup  \
12     1906-0023-BEL  1906   23   NaN        Natural      Hydrological
13     1906-0024-BEL  1906   24   NaN        Natural      Hydrological
34     1911-0002-CHN  1911    2   NaN        Natural      Hydrological
39     1915-0011-CHN  1915   11   NaN        Natural      Hydrological
43     1917-0013-CHN  1917   13   NaN        Natural      Hydrological
...              ...   ...  ...   ...            ...               ...
16615  2023-0226-TZA  2023  226   NaN        Natural      Hydrological
16623  2023-0080-ZAF  2023   80   NaN        Natural      Hydrological
16624  2023-0180-ZAF  2023  180   NaN        Natural      Hydrological
16626  2023-0110-ZMB  2023  110   NaN        Natural      Hydrological
16629  2023-0022-SRB  2023   22   NaN        Natural      Hydrological

      Disaster Type Disaster Subtype Disaster Subsubtype Event Name  ...  \
12            Flood              NaN                 NaN        NaN  ...
13            Flood              NaN                 NaN        NaN  ...
34            Flood   Riverine flood                 NaN        NaN  ...
39            Flood   Riverine flood                 NaN        NaN  ...
43            Flood   Riverine flood                 NaN        NaN  ...
...             ...              ...                 ...        ...  ...
16615         Flood              NaN                 NaN        NaN  ...
16623         Flood              NaN                 NaN        NaN  ...
16624         Flood              NaN                 NaN        NaN  ...
16626         Flood      Flash flood                 NaN        NaN  ...
16629         Flood   Riverine flood                 NaN        NaN  ...

      Reconstruction Costs, Adjusted ('000 US$) Insured Damages ('000 US$)  \
12                                          NaN                        NaN
13                                          NaN                        NaN
34                                          NaN                        NaN
39                                          NaN                        NaN
43                                          NaN                        NaN
...                                         ...                        ...
16615                                       NaN                        NaN
16623                                       NaN                        NaN
16624                                       NaN                        NaN
16626                                       NaN                        NaN
16629                                       NaN                        NaN

      Insured Damages, Adjusted ('000 US$) Total Damages ('000 US$)  \
12                                     NaN                      NaN
13                                     NaN                      NaN
34                                     NaN                      NaN
39                                     NaN                      NaN
43                                     NaN                      NaN
...                                    ...                      ...
16615                                  NaN                      NaN
16623                                  NaN                      NaN
16624                                  NaN                      NaN
16626                                  NaN                      NaN
16629                                  NaN                      NaN

      Total Damages, Adjusted ('000 US$)       CPI Adm Level  \
12                                   NaN  3.077011       NaN
13                                   NaN  3.077011       NaN
34                                   NaN  3.190975       NaN
39                                   NaN  3.464487       NaN
43                                   NaN  4.387590       NaN
...                                  ...       ...       ...
16615                                NaN       NaN       1;2
16623                                NaN       NaN         1
16624                                NaN       NaN         1
16626                                NaN       NaN       1;2
16629                                NaN       NaN       NaN

                                    Admin1 Code        Admin2 Code  \
12                                          NaN                NaN
13                                          NaN                NaN
34                                          NaN                NaN
39                                          NaN                NaN
43                                          NaN                NaN
...                                         ...                ...
16615                               48366;48369       48476;115053
16623  2708;77310;77311;77312;77313;77314;77315                NaN
16624                                     77310                NaN
16626                                      3430  65234;65235;65236
16629                                       NaN                NaN

                                           Geo Locations
12                                                   NaN
13                                                   NaN
34                                                   NaN
39                                                   NaN
43                                                   NaN
...                                                  ...
16615  Mara, Mtwara (Adm1). Sumbawanga Rural, Sumbawa...
16623  Eastern Cape, Gauteng, KwaZulu-Natal, Limpopo,...
16624                               Eastern Cape (Adm1).
16626    Lusaka (Adm1). Mazabuka, Monze, Namwala (Adm2).
16629                                                NaN

[5803 rows x 50 columns]

In [46]:
df= df.drop(columns=['Dis No','Glide'])
df

,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,ISO,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900,9002,Natural,Climatological,Drought,Drought,NaN,NaN,Cabo Verde,CPV,...,NaN,NaN,NaN,NaN,NaN,2.849084,NaN,NaN,NaN,NaN
1,1900,9001,Natural,Climatological,Drought,Drought,NaN,NaN,India,IND,...,NaN,NaN,NaN,NaN,NaN,2.849084,NaN,NaN,NaN,NaN
2,1902,12,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,Guatemala,GTM,...,NaN,NaN,NaN,25000.0,843726.0,2.963048,NaN,NaN,NaN,NaN
3,1902,3,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,GTM,...,NaN,NaN,NaN,NaN,NaN,2.963048,NaN,NaN,NaN,NaN
4,1902,10,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,GTM,...,NaN,NaN,NaN,NaN,NaN,2.963048,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16626,2023,110,Natural,Hydrological,Flood,Flash flood,NaN,NaN,Zambia,ZMB,...,NaN,NaN,NaN,NaN,NaN,NaN,1;2,3430,65234;65235;65236,"Lusaka (Adm1). Mazabuka, Monze, Namwala (Adm2)."
16627,2023,68,Natural,Biological,Epidemic,Bacterial disease,NaN,Cholera,Zambia,ZMB,...,NaN,NaN,NaN,NaN,NaN,NaN,1,3428;3429;3430;3433,NaN,"Eastern, Luapula, Lusaka, Southern (Adm1)."
16628,2023,95,Natural,Meteorological,Storm,Tropical cyclone,NaN,Tropical cyclone 'Freddy',Zimbabwe,ZWE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16629,2023,22,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,Serbia,SRB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16630,2023,140,Natural,Biological,Epidemic,Bacterial disease,NaN,Cholera,South Sudan,SSD,...,NaN,NaN,NaN,NaN,NaN,NaN,1,37021,NaN,Upper Nile (Adm1).

In [47]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

df['is_flood']=(df['Disaster Type']=='Flood').astype(int)
X = df.iloc[:, :-1]
y = df.iloc[:, -1]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Train SVM classifier on the training set
clf = SVC(kernel='linear')
clf.fit(X_train, y_train)

# Make predictions on the test set
y_pred = clf.predict(X_test)

# Evaluate the accuracy of the classifier
accuracy = clf.score(X_test, y_test)
print('Accuracy:', accuracy)

ValueError: could not convert string to float: 'Natural'